In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Data/Original/Political/RPE.csv')

In [5]:
df.head()

,cowcode,trccode,imfcode,uncode,ISO3,country,year,ape1,ape1n,rpe_agri,rpe_gdp,rpe_gdp_nonres,rpr_work,rpr_eap,rpa_full,rpa_sub
0,700,111,512,4,AFG,Afghanistan,1960,0.113,0.084,1.380,0.715,0.795,NaN,NaN,NaN,NaN
1,700,111,512,4,AFG,Afghanistan,1961,0.120,0.098,1.378,0.718,0.795,0.590,0.614,NaN,NaN
2,700,111,512,4,AFG,Afghanistan,1962,0.119,0.093,1.399,0.732,0.808,0.619,0.604,NaN,NaN
3,700,111,512,4,AFG,Afghanistan,1963,0.122,0.095,1.397,0.742,0.816,0.604,0.607,NaN,NaN
4,700,111,512,4,AFG,Afghanistan,1964,0.141,0.108,1.467,0.782,0.858,0.618,0.619,NaN,NaN

In [17]:
Columns_to_keep = ['country','year','rpe_gdp']

In [18]:
# Select only these columns
data = df[Columns_to_keep]

In [19]:
Column_names = ['Country','Year','RPE']

In [21]:
data.columns = Column_names
data.head()

       Country  Year    RPE
0  Afghanistan  1960  0.715
1  Afghanistan  1961  0.718
2  Afghanistan  1962  0.732
3  Afghanistan  1963  0.742
4  Afghanistan  1964  0.782

In [24]:
data.to_csv('Data/Clean/Political/RPE.csv', index = False)