In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/Original/Political/Polity-RegimeType.csv')

In [4]:
df.head()

,p5,cyear,ccode,scode,country,year,flag,fragment,democ,autoc,...,interim,bmonth,bday,byear,bprec,post,change,d5,sf,regtrans
0,0,7001800,700,AFG,Afghanistan,1800,0,NaN,1,7,...,NaN,1.0,1.0,1800.0,1.0,-6.0,88.0,1.0,NaN,NaN
1,0,7001801,700,AFG,Afghanistan,1801,0,NaN,1,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,7001802,700,AFG,Afghanistan,1802,0,NaN,1,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,7001803,700,AFG,Afghanistan,1803,0,NaN,1,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,7001804,700,AFG,Afghanistan,1804,0,NaN,1,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
columns_to_keep = ['country', 'year', 'polity']

In [13]:
column_names = ['Country', 'Year', 'Gov']

In [14]:
data = df[columns_to_keep]
data.head()

       country  year  polity
0  Afghanistan  1800      -6
1  Afghanistan  1801      -6
2  Afghanistan  1802      -6
3  Afghanistan  1803      -6
4  Afghanistan  1804      -6

In [15]:
data.columns = column_names
data.head()

       Country  Year  Gov
0  Afghanistan  1800   -6
1  Afghanistan  1801   -6
2  Afghanistan  1802   -6
3  Afghanistan  1803   -6
4  Afghanistan  1804   -6

In [16]:
data.to_csv('Data/Clean/Political/Regime-Type.csv', index = False)